@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-monsterrat: var(--font-monsterrat);
  --font-outfit: var(--font-outfit);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --font-monsterrat : "Montserrat", sans-serif;
    --font-outfit: "Outfit", sans-serif ;
    --radius: 0.65rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.852 0.199 91.936);
    --primary-foreground: oklch(0.421 0.095 57.708);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.852 0.199 91.936);
    --chart-1: oklch(0.905 0.182 98.111);
    --chart-2: oklch(0.795 0.184 86.047);
    --chart-3: oklch(0.681 0.162 75.834);
    --chart-4: oklch(0.554 0.135 66.442);
    --chart-5: oklch(0.476 0.114 61.907);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.681 0.162 75.834);
    --sidebar-primary-foreground: oklch(0.987 0.026 102.212);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.852 0.199 91.936);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.795 0.184 86.047);
    --primary-foreground: oklch(0.421 0.095 57.708);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.421 0.095 57.708);
    --chart-1: oklch(0.905 0.182 98.111);
    --chart-2: oklch(0.795 0.184 86.047);
    --chart-3: oklch(0.681 0.162 75.834);
    --chart-4: oklch(0.554 0.135 66.442);
    --chart-5: oklch(0.476 0.114 61.907);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.795 0.184 86.047);
    --sidebar-primary-foreground: oklch(0.987 0.026 102.212);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.421 0.095 57.708);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
      background-color: #0A0A0A;
      color : white;
  }
  .root-container {
    @apply flex flex-col flex-1; 
  }
  .container {
    @apply py-15 px-10 mx-auto flex flex-col gap-6; 
  }
  /* Header */
  .content-header{
    @apply flex justify-between flex-row items-center gap-8 w-full;
  }
  /* styles/globals.css ou tout fichier CSS global */
  .hero {
    @apply relative flex flex-col justify-center min-h-screen bg-[url('/images/Background.png')] bg-cover bg-center w-full px-10 mx-auto;
  }
  .DarkOver {
    @apply h-30 w-full absolute bottom-0 left-0 right-0 bg-[url('/images/DarkOver.png')] bg-cover bg-center;
    mask-image: linear-gradient(to bottom , #0a0a0a , transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom , #0a0a0a , transparent 100%);
  }
  .hero-container {
    @apply flex flex-row items-center w-full ;
  }
  .info-footer{
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 ; 
  }
  .upload-btn {
    @apply flex items-center justify-center py-2 rounded-sm bg-white text-gray-500 hover:bg-gray-100 transition-colors;
  }
  .upload-filename {
    @apply text-sm text-gray-700 mt-2;
  }
    .evenement {
    @apply grid grid-cols-1 gap-4 lg:grid-cols-3 lg:grid-cols-4 mt-4;
    }
    .title {
    @apply flex flex-col  mb-4
    }
}

.mask-effect {
  mask-image: linear-gradient(to bottom , #0a0a0a , transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom , #0a0a0a , transparent 100%);
  z-index: 30;
}

@layer component{
    .admin-header {
        @apply bg-white w-full p-4
    }
}

/*@layer base {*/
/*  * {*/
/*    @apply border-border outline-ring/50;*/
/*  }*/
/*  body {*/
/*    @apply bg-background text-foreground;*/
/*  }*/
/*}*/